<% include ./header %>

<div class="wrapper history">
  <div id="img"><img src="img/img1.jpg"></div>
  <% if( historyData != null ){ %>
    <div class="history-content">
    <h2>Showing Last <%= historyData.length %> Record History</h2>
    <% for(var i = 0; i < historyData.length; i++) { %>
        <div class="history-item">
          <h4>Record: <%= i + 1 %></h4>
          <div class="history-item-body">
            <strong>Input String:</strong> <%= historyData[i].inputString %><br>
            <strong>Destination Languag:</strong> <%= historyData[i].destinationLang %><br>
            <strong>Translated String:</strong> <%= historyData[i].translatedString %><br>
          </div>
        </div>
    <% } %>
    </div>
  <% } %>

   
  <form method="get" action="/api/history" id="history-form">
    <h3>Show last n history:</h3>
    <input class="input-source" type="number" name="getHistNum" required>
    <button class="btn-sub" type="submit">Go</button>
  </form>
</div>